body {
  padding-left: 68.75%;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #F2F3F4 }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2%;
  left: 2%;
  width: 20%; }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 1% 0;
  padding: 0.7%;
  border-right: 1% solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 100%;
  padding-top: 100%;
  border-top: thin dotted }
